@import 'tailwindcss';
@import 'tailwindcss-primeui';

.dbg-border {
  border: 1px solid red !important;
}

.dbg-border-blue {
  border: 1px solid blue !important;
}

.dbg-border-green {
  border: 1px solid green !important;
}
